<body>
  <form class="needs-validation" id="formulario" novalidate [formGroup] = "formulario">
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Nombres</label>
        <input
          type="text"
          placeholder="Nombres"
          formControlName = "nombre"
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Apellidos</label>
        <input
          type="text"
          placeholder="Apellidos"
          formControlName = "apellido"
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Codigo</label>
        <input
          type="text"
          id="validationCustom04"
          placeholder="Codigo"
          formControlName = "codigo"
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Correo Personal</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input
            type="email"
            id="validationCustomUsername"
            placeholder="Username"
            aria-describedby="inputGroupPrepend"
            formControlName = "correoP"
          />
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Facultad</label>
        <select id = "select" for="validationCustom02" formControlName = "facultad" (change) = "arroz()">
          <option *ngFor="let facultad of listaProyectos.keys()" [value]="facultad" selected>{{facultad}}</option>
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Proyecto</label>
        <select for="validationCustom02" formControlName = "proyecto">
          <option [value]="i" *ngFor = "let i of listaProyectos.get(proyectoSeleccionado)">{{i}}</option>
        </select>
      </div>
    </div>
    <button [disabled]="!formulario.valid" class="btn btn-primary" (click)="enviarFormulario()">Aceptar</button>
  </form>
</body>
