<body>
  <form class="needs-validation" id="formulario" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationCustom01">Nombres</label>
        <input
          type="text"
          id="validationCustom01"
          placeholder="Nombres"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Apellidos</label>
        <input
          type="text"
          id="validationCustom02"
          placeholder="Apellidos"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Numero Documento</label>
        <input
          type="text"
          id="validationCustom03"
          placeholder="Numero Documento"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Codigo</label>
        <input
          type="text"
          id="validationCustom04"
          placeholder="Codigo"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustom02">Telefono</label>
        <input
          type="text"
          id="validationCustom05"
          placeholder="Telefono"
          required
        />
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationCustomUsername">Correo Personal</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
          </div>
          <input
            type="email"
            id="validationCustomUsername"
            placeholder="Username"
            aria-describedby="inputGroupPrepend"
            required
          />
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationCustom03">City</label>
        <input
          type="text"
          id="validationCustom03"
          placeholder="City"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom04">State</label>
        <input
          type="text"
          id="validationCustom04"
          placeholder="State"
          required
        />
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationCustom05">Zip</label>
        <input type="text" id="validationCustom05" placeholder="Zip" required />
        <div class="invalid-feedback">Please provide a valid zip.</div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>
</body>
