<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar">
    <a class="navbar-brand" href="#">
        <img src="https://laud.udistrital.edu.co/sites/default/files/logo_ud.png" width="90" height="70" alt="">
      </a>
    <a class="navbar-brand" routerLink="/">{{this.nombre}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/formEstudiantes">Formulario Estudiantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/listEstudiantes">Listado Estudiantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLink="/registro">Sing In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click) ="cambiarNombre()">Log In</a>
            </li>
            <li class="nav-item">
            </li>
        </ul>
    </div>
</nav>