<div class = "body">
    <div class = "sidebar">
        <ul>
            <li>
                <a class = "btn btn-primary boton-menu" [routerLink] = "['Calendario']">Calendario</a>
            </li>
            <li>
                <button class = "btn btn-primary boton-menu">Seleccion</button>
            </li>
            <li>
                <button class = "btn btn-primary boton-menu">Calendario</button>
            </li>
            <li>
                <button class = "btn btn-primary boton-menu">Liquidacion Estudiantes</button>
            </li>
        </ul>
    </div>
    <div class="ventana">
        <router-outlet></router-outlet>
    </div>
</div>