<div class="body">
  <div class="sidebar">
    <ul>
      <li>
        <select [(ngModel)] = "this.periodo" (change)="this.cambioPeriodo()" name="" id="" style="width: 100%;">
          <option value="202301">202301</option>
          <option value="202302">202302</option>
          <option value="202201">202201</option>
          <option value="202202">202202</option>
        </select>
      </li>
      <li>
        <button class="btn btn-primary boton-menu" (click)="this.abrirCalendario()">
          Calendario
        </button>
      </li>
      <li>
        <button class="btn btn-primary boton-menu" [disabled] = "this.habilitarSeleccion()" [routerLink]="['Seleccion']">
          Seleccion
        </button>
      </li>
      <li>
        <button class="btn btn-primary boton-menu" (click)="this.abrirAsistencia()" [disabled] = "this.habilitarAsistencia()">Asistencia</button>
      </li>
      <li>
        <button
          class="btn btn-primary boton-menu"
          [routerLink]="['Liquidacion']"
          [disabled] = "this.habilitarLiquidacion()"
        >
          Liquidacion Estudiantes
        </button>
      </li>
    </ul>
  </div>
  <div class="ventana">
    <router-outlet></router-outlet>
  </div>
</div>
