<div class="container">
    <p>Actividad de hoy: {{this.eventoHoy.nombreObra}}  |  {{this.eventoHoy.tipoEvento}}</p>
    <ul style="padding:0px;">
        <li class="item-lista">
            <p style="grid-column: 1;width: 700px; margin:0px" class="cabezal">Estudiante</p>
            <p style="grid-column: 2;margin:0px">Asistencia</p>
        </li>
        <li *ngFor = "let e of listaEstudiantes" class="item-lista">
            <p class="nombre-lista">{{e[0]}}</p>
            <input type="checkbox" class="checkbox-lista" [ngModel] = "listaAsistencia.get(e[1])" (ngModelChange)="listaAsistencia.set(e[1],$event)" name="" id="">
        </li>
    </ul>
    <button class="btn btn-primary" (click)="enviarAsistencia()" style="margin:auto;display: block;">Enviar Asistencia</button>
</div>