.item-lista{
    display: grid;
    grid-template-columns: 3;
    grid-template-rows: 1;
    border: black 1px solid;
}

.cabezal{
    border: black 1px solid;
    text-align: center;
}

.nombre-lista{
    grid-column: 1/3;
    border:1px black solid;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    margin:0px
}

.checkbox-lista{
    grid-column: 3;
    margin: 5px;
    height: 25px;
}