<h2>Listado de Estudiantes</h2>
<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Estudiante</th>
        <th scope="col">Codigo</th>
        <th scope="col">Documento</th>
        <th scope="col">Correo</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Mark</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">Jacob</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">Larry</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
