<div class="center">
    <div>
        <select [(ngModel)]="this.mes" (change) = "cambioMes()" name="" id="">
            <option value="0">Enero</option>
            <option value="1">Febrero</option>
            <option value="2">Marzo</option>
            <option value="3">Abril</option>
            <option value="4">Mayo</option>
            <option value="5">Junio</option>
            <option value="6">Julio</option>
            <option value="7">Agosto</option>
            <option value="8">Septiembre</option>
            <option value="9">Octubre</option>
            <option value="10">Noviembre</option>
            <option value="11">Diciembre</option>
        </select>
    </div>
    <div class="calendario-container">
        <div class="header">DOM</div>
        <div class="header">LUN</div>
        <div class="header">MAR</div>
        <div class="header">MIE</div>
        <div class="header">JUE</div>
        <div class="header">VIE</div>
        <div class="header">SAB</div>
        <div class="dia-null" *ngFor="let a of diaInicial"></div>
        <div [id] = "'contenedor' + a" (click) = seleccionarDia(a) class="dia" *ngFor="let a of dias">
            <div [id]=a class="dia-num">{{a}}</div>
            <div class="evento" *ngFor = "let e of eventos.get(a.toString())" [ngStyle] ="{'background-color':this.coloresEvento.get(e.tipoEvento)}"></div>
        </div>
        <div class="dia-null" *ngFor="let a of diasFinales"></div>
    </div>
    <div class="opciones">hola</div>
</div>