<div class="center">
    <div class="calendario-container">
        <div class="header">DOM</div>
        <div class="header">LUN</div>
        <div class="header">MAR</div>
        <div class="header">MIE</div>
        <div class="header">JUE</div>
        <div class="header">VIE</div>
        <div class="header">SAB</div>
        <div class="dia-null" *ngFor="let a of diaInicial"></div>
        <div [id] = "'contenedor' + a" (click) = seleccionarDia(a) class="dia" *ngFor="let a of dias">
            <div [id]=a class="dia-num">{{a}}</div>
        </div>
        <div class="dia-null" *ngFor="let a of diasFinales"></div>
    </div>
    <div class="opciones">hola</div>
</div>